<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Handww.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,706},{98,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,121}}</string>
                <key>sourceSize</key>
                <string>{98,121}</string>
            </dict>
            <key>d1.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,456},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,582},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d2.png</key>
            <dict>
                <key>frame</key>
                <string>{{920,458},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d3.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,402},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d4.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,336},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d5.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,336},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d6.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,336},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d7.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,302},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d8.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,236},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>d9.png</key>
            <dict>
                <key>frame</key>
                <string>{{512,236},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>dd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,686},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,458},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,686},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,458},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,686},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,458},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,230},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,158},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,158},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,158},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,80},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx10.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,80},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx2.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,80},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx3.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx5.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx6.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>dx9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>huxiww.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,829},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>normalww.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,226}}</string>
                <key>sourceSize</key>
                <string>{76,226}</string>
            </dict>
            <key>s1.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,514},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s10.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,470},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s2.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,412},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s3.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,368},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s4.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,426},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s5.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,324},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s6.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,280},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s7.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s8.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>s9.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss1.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss10.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss3.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,236},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,222},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,178},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss6.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,134},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss7.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,90},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss8.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,46},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>ss9.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{42,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,42}}</string>
                <key>sourceSize</key>
                <string>{42,42}</string>
            </dict>
            <key>x1.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,236},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x10.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,302},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x2.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,914},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x3.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,302},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x4.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,302},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x5.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,914},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x6.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,202},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x7.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,102},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x8.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,2},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
            <key>x9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{98,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{98,122}}</string>
                <key>sourceSize</key>
                <string>{98,122}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>card.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cefa9f0a287c0e921d96d1e23f4d0aa$</string>
            <key>textureFileName</key>
            <string>card.png</string>
        </dict>
    </dict>
</plist>
