<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>LOGO_chibang.png</key>
			<dict>
				<key>width</key>
				<integer>195</integer>
				<key>height</key>
				<integer>169</integer>
				<key>originalWidth</key>
				<integer>195</integer>
				<key>originalHeight</key>
				<integer>169</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO_hudie_shenzi.png</key>
			<dict>
				<key>width</key>
				<integer>140</integer>
				<key>height</key>
				<integer>52</integer>
				<key>originalWidth</key>
				<integer>140</integer>
				<key>originalHeight</key>
				<integer>52</integer>
				<key>x</key>
				<integer>197</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO_xian.png</key>
			<dict>
				<key>width</key>
				<integer>147</integer>
				<key>height</key>
				<integer>47</integer>
				<key>originalWidth</key>
				<integer>147</integer>
				<key>originalHeight</key>
				<integer>47</integer>
				<key>x</key>
				<integer>339</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO_wenzi.png</key>
			<dict>
				<key>width</key>
				<integer>93</integer>
				<key>height</key>
				<integer>40</integer>
				<key>originalWidth</key>
				<integer>93</integer>
				<key>originalHeight</key>
				<integer>40</integer>
				<key>x</key>
				<integer>488</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO_wangzhan.png</key>
			<dict>
				<key>width</key>
				<integer>204</integer>
				<key>height</key>
				<integer>19</integer>
				<key>originalWidth</key>
				<integer>204</integer>
				<key>originalHeight</key>
				<integer>19</integer>
				<key>x</key>
				<integer>583</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO_sshd.png</key>
			<dict>
				<key>width</key>
				<integer>489</integer>
				<key>height</key>
				<integer>155</integer>
				<key>originalWidth</key>
				<integer>489</integer>
				<key>originalHeight</key>
				<integer>155</integer>
				<key>x</key>
				<integer>789</integer>
				<key>y</key>
				<integer>0</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
			<key>LOGO_bai.png</key>
			<dict>
				<key>width</key>
				<integer>1280</integer>
				<key>height</key>
				<integer>720</integer>
				<key>originalWidth</key>
				<integer>1280</integer>
				<key>originalHeight</key>
				<integer>720</integer>
				<key>x</key>
				<integer>0</integer>
				<key>y</key>
				<integer>171</integer>
				<key>offsetX</key>
				<real>0</real>
				<key>offsetY</key>
				<real>0</real>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>0</integer>
			<key>textureFileName</key>
			<string>jcdh0.png</string>
			<key>realTextureFileName</key>
			<string>jcdh0.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>